.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.input {
  padding: 15px;
  width: 80%;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 6px;
  font-size: 16px;
}

.input:focus {
  outline: none;
}

.weather-data {
  margin-top: 20px; /* Corrected margin-top value */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city {
  font-size: 30px;
  font-weight: 200;
}

.temp, .feels, .description {
  font-size: 24px; /* Adjusted font-size for better readability */
  padding: 10px;
  margin: 10px 0; /* Added margin for spacing */
  border: 1px solid lightgray;
  border-radius: 12px;
}

.description {
  font-size: 20px; /* Separate font-size for description if needed */
  font-weight: 400; /* Adjusted font-weight for description */
}


.autocomplete-container {
  width: 80%;
  margin: auto;
}

.autocomplete-item {
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 6px;
  font-size: 16px;
  background: white;
  cursor: pointer;
}

.autocomplete-item-highlighted {
  background: lightgray;
}

.autocomplete-input {
  width: 100%;
  padding: 15px;
  border: 1px solid lightgray;
  border-radius: 6px;
  font-size: 16px;
}

.autocomplete-input:focus {
  outline: none;
}


